aiohttp==3.7.3
airtable-python-wrapper==0.15.3
asgiref==3.4.1
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
Django==3.2.8
gunicorn==20.1.0
idna==2.10
multidict==5.1.0
pyTelegramBotAPI==4.0.0
pytz==2021.3
requests==2.25.1
slackclient==2.9.3
sqlparse==0.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
yarl==1.6.3
psycopg2-binary==2.9.1

